@import './variables.scss';

body, div, ul, span, h1, h2, h3, h4, h5, h6, form, input, label, button, textarea, th, td, p, a, header, footer, nav, section {
  font-family: $font-base;
  font-weight: $fw-base;
  word-break: keep-all;
}

ul, li {
  list-style: none;
}

body {
  margin: 0;
  min-width: 950px; // 현재 pc버전만 지원
  // overflow-x:hidden; // 모바일 반응형 추가 시 해제
}

#layout {
  position: fixed;
  z-index: 1000;  
  order: 1;  
}

#content {
  position: absolute;
  z-index: -1;
}

#home {
  z-index: -2;
  order:2;
}

#footer {
  order:3;
}