// fonts
$font-mini-title: 'HSSaemaul-Regular', sans-serif !default;
$font-base: 'Pretendard-Regular', sans-serif !default;

$fw-base: 400;
$fw-bold: 700;

// colors
$color-primary: #194f97;
$color-primary-faded: #2c3d80a2;
$color-primary-deep: #00306e;

$color-secondary: #2c7a80;

$color-ivory: rgb(255, 252, 247);

$color-no-info: #bdbdbd;