// fonts
$font-mini-title: 'HSSaemaul-Regular', sans-serif !default;
$font-base: 'Pretendard-Regular', sans-serif !default;

$fw-base: 400;
$fw-bold: 700;

// colors
$color-primary: #194f97;
$color-primary-faded: #2c3d80a2;