.content-card {
  width: 200px;
  height: 270px;
  border: 1px solid lightgray;
  border-radius: 13px;

  cursor: pointer;
  overflow: hidden;

  .thumb {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: top;
  }

  .texts {
    padding: 5% 8%;

    .card-title {
      font-size: 17px;
      word-break: keep-all;
    }
  }
}