.content-card {
  width: 200px;
  height: 270px;
  border: 1px solid lightgray;
  border-radius: 13px;
  cursor: pointer;
  overflow: hidden;
}
.content-card .thumb {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.content-card .texts {
  padding: 5% 8%;
}
.content-card .texts .card-detail {
  margin-top: 3px;
}
.content-card .texts .card-title, .content-card .texts .card-addr {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.content-card .texts .card-title {
  font-size: 18px;
  font-weight: 700;
}
.content-card .texts .card-period {
  font-size: 13px;
  color: #194f97;
}
.content-card .texts .card-addr {
  font-size: 15px;
}